In [1]:
# Dependencies
import pandas as pd

In [4]:
# load CSV
file = "Resources/2016-FCC-New-Coders-Survey-Data.csv"
bootcamp_data = pd.read_csv(file, low_memory = False)

In [5]:
# Take only columns 0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
main_df = bootcamp_data.iloc[:,[0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]

In [6]:
# Change reading 0 and 1 to No and Yes, respectively
main_df.replace(to_replace = [0.0, 1.0], value = ["No", "Yes"], inplace = True)

E:\Anaconda\lib\site-packages\pandas\core\frame.py:4166: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [7]:
# Extract rows for only those who attended a bootcamp
attendee_df = main_df.loc[main_df["AttendedBootcamp"] == "Yes", :]

In [52]:
# Create DataFrame of the different boot camps that had a significant number of attendees
attendee_count = pd.DataFrame(attendee_df["BootcampName"].value_counts())
attendee_count.reset_index(inplace = True)
attendee_count.columns = ["BootcampName", "Attendee Count"]
attendee_count

              BootcampName  Attendee Count
0         General Assembly              90
1          Flatiron School              54
2             Dev Bootcamp              48
3            The Iron Yard              40
4    Prime Digital Academy              30
..                     ...             ...
123           Byte Academy               1
124          Coder Foundry               1
125               Alphappl               1
126      Code For Progress               1
127   Interface Web School               1

[128 rows x 2 columns]

In [53]:
# Count how many attendees of each bootcamp would recommend the bootcamp
rec_count = attendee_df.loc[attendee_df["BootcampRecommend"] == "Yes", :]
rec_count = pd.DataFrame(rec_count["BootcampName"].value_counts())
rec_count.reset_index(inplace = True)
rec_count.columns = ["BootcampName", "Rec Count"]
rec_count

              BootcampName  Rec Count
0         General Assembly         70
1          Flatiron School         50
2             Dev Bootcamp         41
3            The Iron Yard         31
4             Hack Reactor         27
..                     ...        ...
111          Fire Bootcamp          1
112              HackerYou          1
113      Ruby On The Beach          1
114         We Can Code IT          1
115  Austin Coding Academy          1

[116 rows x 2 columns]

In [61]:
# Merge the two created data frames on the name of the bootcamp
full_df = pd.merge(attendee_count, rec_count, on = "BootcampName")

In [72]:
# Calculate percentage of each bootcamp's students who are recommenders
pct_rec = (full_df["Rec Count"] / full_df["Attendee Count"]) * 100
pd.options.display.float_format = '{:.2f}%'.format
full_df = full_df.sort_values(by = "Percent Rec", ascending = False)
full_df

           BootcampName  Attendee Count  Rec Count  Percent Rec
115       Coder Foundry               1          1      100.00%
101            Betamore               1          1      100.00%
36    Fullstack Academy               6          6      100.00%
99                codeU               1          1      100.00%
98   The Data Incubator               1          1      100.00%
..                  ...             ...        ...          ...
59       Starter League               3          1       33.33%
60           tradecraft               3          1       33.33%
56         Coding House               3          1       33.33%
55       We Can Code IT               3          1       33.33%
43       Codify Academy               4          1       25.00%

[116 rows x 4 columns]

In [73]:
# Export to excel and remove index
full_df.to_csv("output/Project_Part_2_Output.csv", index = False)